@import '../variables.scss';

.homePage {
  .mainBanner {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 30px 60px;
    background-color: $white;
    border-radius: 12px;

    .mainImg > img {
      min-width: 640px;
      min-height: 420px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 12px;
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      h1 {
        margin: 0;
      }
      p {
        font-size: 1.2em;
        line-height: 1.6;
      }
    }
  }

  .logo {
    text-align: center;
    padding-top: 36px;
    svg {
      width: 200px;
      height: auto;
    }
  }

  .description {
    padding: 30px 60px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
  }
}

.cataloguePage {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.centerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  h1 {
    color: #01b4e4;
    text-align: center;
  }
}
