@import '../variables.scss';

.homePage {
  .logo {
    text-align: center;
    padding-top: 36px;
    svg {
      width: 200px;
      height: auto;
    }
  }

  .description {
    padding: 30px 60px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
  }
}

.cataloguePage {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  h1 {
    color: $active;
    text-align: center;
  }
}
