@import '../../variables.scss';

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262a34;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 54px;
  a {
    display: flex !important;
    align-items: center;
    min-width: 200px;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 14px;
    color: $white;
    display: block;
    transition: $trans;
    &:hover {
      color: $yellow;
      background-color: $active;
    }
    svg {
      width: 18px;
      margin-right: 20px;
      transition: $trans;
      path {
        fill: $white;
        stroke: $white;
      }
    }
    &:hover path {
      fill: $yellow;
      stroke: $yellow;
    }
    .collapsing {
      margin-left: 24px;
    }
    .open {
      transform: rotate(180deg);
    }
  }
}
